<p>Username: <%= @user.email %></p>

<h2>Friends</h2>
<ul class="reg">
  <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h3>Friended by Users</h3>
<ul class="reg">
  <% for user in @user.inverse_friends %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<h4><%= link_to "Go back to User Connect", users_path %></h4>

<!-- Looks good! -->
