<%= form_for ([@concert, @venue]) do |f| %>

	<p><%= f.label :name %>
	<%= f.text_field :name %></p>

	<p><%= f.label :url %>
	<%= f.text_field :url %>

	<p><%= f.label :city %>
	<%= f.text_field :city %></p>

	<%= f.submit 'update', class: 'enter' %>

<% end %>