<%= form_for @concert do |f| %>

	<p><%= f.label :headliner %>
	<%= f.text_field :headliner %></p>

	<p><%= f.label :headliner_pic %>
	<%= f.text_field :headliner_pic%>
	(Check their Wikipedia page, or do a Google image search)</p>

	<p><%= f.label :headliner_url %>
	<%= f.text_field :headliner_url %></p>

	<p><%= f.label :venue %><%= f.collection_select(:venue_id, @venues.order(:name), :id, :name) %> 
	(or, add a <%= link_to "new venue", new_venue_path %>)
    </p>

	<p><%= f.label :date%>
	<%= f.date_field :date %></p>

	<p><%= f.label :openers_etc %>
	<%= f.text_field :openers_etc %>
	(Names of the openers, doors & set times if available.)</p>

	<p><%= f.label :price %>
	<%= f.number_field :price %></p>

	<p><%= f.label :buy %>
	<%= f.text_field :buy %></p>

	<%= f.submit 'update', class: 'enter' %>

<% end %>
