<%= form_for @concert do |f| %>

	<p><%= f.label :headliner %>
	<%= f.text_field :headliner %></p>

	<p><%= f.label :headliner_pic %>
	<%= f.text_field :headliner_pic%>
	(Check their Wikipedia page, or do a Google image search)</p>

	<p><%= f.label :headliner_url%>
	<%= f.text_field :headliner_url %></p>

	<p><%= f.label :date%>
	<%= f.date_field :date %></p>

	<p><%= f.label :venue %>
	<%= f.text_field :venue %></p>

	<p><%= f.label :venue_url %>
	<%= f.text_field :venue_url %>
	(We recommend this link to the venue's Directions page, if available.)</p>

	<p><%= f.label :city %>
	<%= f.text_field :city %></p>

	<p><%= f.label :openers_etc %>
	<%= f.text_field :openers_etc %>
	(Names of the openers, doors & set times if available.)</p>

	<p><%= f.label :price %>
	<%= f.number_field :price %></p>

	<p><%= f.label :buy %>
	<%= f.text_field :buy %></p>

	<%= f.submit 'update', class: 'enter' %>

<% end %>
