<!--  -->

<h2>Welcome to <span class="track12">Track 12</span></h2>

<% if current_user %>

<p>Check out the menu above to see the concerts you're going to, or to add a new one!</p>

<% else %>

<p>With Track 12, you can get all the information about upcoming concerts in your area, see who else is going, and invite your friends - all in one easy place! <%= link_to "Sign up today", new_user_registration_path %> - it'll only take a moment.</p>

<% end %>

<h3>Upcoming Concerts</h3>

<!-- create array of unique cities -->
<% cities = [] %>
<% @all_concerts.each do |this_concert| %>
	<% cities.push(this_concert.venue.city) %>
	<% cities = cities.uniq %>
<% end %>

<!-- filter by -->
<form action="/concerts" method="get">
	<strong>Filter by city:</strong>
	<select name="city">
	    <option value="all">All</option>
     	<%= cities.each do |city| %>
        	<option value="<%= city %>"><%= city %></option>
     	 <% end %>
 	</select>
 	<input type="submit" value="Filter">
 </form>

<!-- iterate through upcoming concerts, display link, indicate if user is attending -->
<% @concerts.each do |concert| %>
	<% if concert.date >= Date.today %>
		<p><span class="upcoming"><%= link_to "#{concert.headliner}", concert_path(concert) %>, <%= "#{concert.date.strftime("%b. %d, %Y")} at #{concert.venue.name}" %></span>
		<% concert.attendances.each do |attendance| %>
			<% if attendance.user == current_user %>
				<span class="attending">&#9733; You're attending!</span>
			<% end %>
		<% end %>
	<% end %>
<% end %>
</p>
