<h3><%= link_to "#{@concert.headliner}", @concert.headliner_url  %> @
<%= link_to "#{@concert.venue.name}", @concert.venue.url %>
<%= @concert.date.strftime("%b. %d, %Y") %> <%= @concert.venue.city %> </h3>

 <div class="subtitle"><p>Created by <%= @owner.email %>.<p></div>

<%= image_tag @concert.headliner_pic, alt: "#{@concert.headliner}" %>

<p><%= @concert.openers_etc %> <%= link_to "Tickets are $#{@concert.price}", @concert.buy %>.  </p>

<!-- pull emails of other attendances -->
<% others_attending = [] %>
<% @attendances.each do |attendance| %>
	<% if attendance.concert == @concert && User.find(attendance.user) != current_user%>
		<% others_attending.push(attendance) %>
	<% end %>
<% end %>

<!-- list people attending, with appropriate tense depending on if concert was in past or future -->
<% if others_attending.length == 0 && @concert.date >= Date.today %>
	<p>No one else is going ... yet.

<% elsif @concert.date >= Date.today %>
	<p>Other Track 12 members are going!
	<ul id = "attendances">
	<% others_attending.each do |other| %>
		<li><%= other.user.email %></li>
	<% end %>

<% elsif @concert.date < Date.today && others_attending.length == 0 %>
	<p>No one else attended. Their loss!</p>

<% elsif @concert.date < Date.today %>
	<p>Other Track 12 members went!
	<ul id = "attendances">
	<% others_attending.each do |other| %>
		<li><%= other.user.email %></li>
	<% end %>
	</ul>
<% end %>
</p>

<!-- for logged-in users: toggle attendance; invite button; edit button (eventually to be visible only to owner and admins) -->
<% if current_user && @concert.date >= Date.today %>
	<% if Attendance.find_by(user: current_user, concert: @concert) %>
		<p><%= link_to "I'm not going", remove_attendance_concert_path(@concert), method: :delete, class: "enter" %>
	<% else %>
		<p><%= link_to "I'm going!", add_attendance_concert_path(@concert), method: :post, class: "enter" %>
	<% end %>
	<% if current_user == @concert.user || current_user.id == 1 %>
		<%= link_to "Edit this info", edit_concert_path(@concert), class: "enter" %>
	<% end %>

	<%= link_to "Invite a friend", "mailto:?Subject=Want%20to%20see%20a%20" + @concert.headliner + "%20concert%20with%20me?&body=It\'s%20" + @concert.date.strftime('%b. %d') + "%20at%20" + @concert.venue.name + ".%20Get%20all%20the%20info%20at%20track12.com/concerts/" + @concert.id.to_s + "!", class: "enter", target: "_blank" %>

<% elsif current_user && @concert.date < Date.today && Attendance.find_by(user: current_user, concert: @concert) %>
		<p class="enter">You went!</p>
<% end %></p>
