<h3>Your Upcoming Concerts</h3>

<!-- iterate through attendances and display upcoming ones -->
<!-- I intermittently got an error when using >= with the dates instead of just < >, but it seems to be working now??  -->
<% @attendances.each do |att| %>
	<% if att.concert.date >= Date.today %>
		<% concert = att.concert %>
		<p><%= link_to "#{concert.headliner}", concert_path(concert) %>, <%= "#{concert.date.strftime("%b. %d, %Y")} at #{concert.venue.name}" %></p>
	<% end %>
<% end %>

<h3>Your Past Concerts</h3>

<!-- iterate through current_attendances and display past ones -->
<% @attendances.each do |att| %>
	<% if att.concert.date < Date.today %>
		<% concert = att.concert %>
		<p><%= link_to "#{concert.headliner}", concert_path(concert) %>, <%= "#{concert.date.strftime("%b. %d, %Y")} at #{concert.venue.name}" %></p>
	<% end %>
<% end %>

<p><%= link_to "Find some more concerts!", root_path, class: "enter" %></p>
