<h3>Your Upcoming Concerts</h3>
	<!-- <p><%= @attendances %></p> -->

<% @attendances.each do |attendance| %>
	<% concert = attendance.concert %>
	<% if concert.date > Date.today %>
		<p><%= link_to "#{concert.headliner}", concert_path(concert) %>, <%= "#{concert.date.strftime("%b. %d, %Y")} at #{concert.venue.name}" %></p>
	<% elsif concert.date < Date.today %>
		<h3>Your Past Concerts</h3>
		<p><%= link_to "#{concert.headliner}", concert_path(concert) %>, <%= "#{concert.date.strftime("%b. %d, %Y")} at #{concert.venue.name}" %></p>
	<% end %>
<% end %>

<p><%= link_to "Find some more concerts!", root_path, class: "enter" %></p>