<!DOCTYPE html>
<html>

<head>
  <title>Track 12</title>

  <link href='https://fonts.googleapis.com/css?family=Berkshire+Swash|Biryani:400,600|Raleway:500' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>

  <div id="nav">
    <ul>
      <li id="track12nav" class="nav"><a href="/">Track 12</a></li>
      <li class="nav"><%= link_to 'your calendar', yourcal_path %></li>
      <li class="nav"><%= link_to 'add a concert', new_concert_path %></li>
      <% if current_user && current_user == 1%>
        <li class="nav"><%= link_to 'admin console', concert_venues_path(1) %></li>
      <% end %>
      <% if current_user %>
        <li class="nav">
          <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
        </li>
      <% else %>
      <li class="nav">
        <%= link_to 'sign up', new_user_registration_path %></li>
        <li class="nav"><%= link_to 'log in', new_user_session_path %></li>
        <% end %>
      </li>
    </ul>
  </div>

  <div id="content">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>

</body>

</html>
